# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.suo
Gestiunea retelei de transport public\Program.cs
Gestiunea retelei de transport public\Gestiunea retelei de transport public.csproj

# mstest test results
TestResults